.green{
    position: static;
    background-color: green;
    height: 50px;
    width: 50px;
    margin: 20px;
    right: 300px;
}

.blue{
    position: relative;
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 20px;
}

.red{
    left: 300px;
    position: absolute;
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 20px;
    
}

.black{
    position: fixed;
    background-color: black;
    height: 50px;
    width: 50px;
    margin: 50px;
}